body{
  /*background-color: rgb(241, 188, 118);*/
  background-image: url(../images/blind-robot.jpg);
}
header {
  font-weight: bold;
  font-size: 5vmin;
  border: 2px solid black;
  text-align: center;
  width: 100%;
  height: 10vh;
  line-height: 1.6;
  color: white;
}
aside {
  border: 2px solid black;
  width: 200px;
  height: 635px;
  display: inline-block;
  vertical-align: bottom;
}
.statsHeader,
.statsContent {
  font-weight: bold;
  font-size: 2vmin;
  text-align: center;
  width: 80%;
  height: 6vh;
  margin: auto;
  padding-top: 8%;
}
.statsHeader {
  line-height: 4.7;
}
.statsContent {
  border: 2px solid black;
  background-color: lightgrey;
}
main {
  border: 2px solid black;
  height: 635px;
  width: 1200px;
  display: inline-block;
  position: relative;
}
.containerForAsideAndMain {
  /*border: 2px solid black;*/
  margin-top: 1%;
  font-size: 0;
}
.cards {
  position: relative;
  /*border: 2px solid black;*/
  width: 16%;
  height: 33%;
  float: left;
  position: relative;
}
.dan,
.lfzCard,
.bill,
.brett,
.cody,
.scott,
.tim-d,
.tim-h,
.tj {
  background-position: center;
  background-size: cover;
  height: 90%;
  width: 90%;
  top: 5%;
  left: 5%;
  position: absolute;
}
.dan {
  background-image: url("../images/dan.jpg");
}
.lfzCard {
  background-image: url("../images/lfz-card.jpg");
}
.bill {
  background-image: url("../images/bill.jpg");
}
.brett {
  background-image: url("../images/brett.jpg");
}
.cody {
  background-image: url("../images/cody.jpg");
}
.scott {
  background-image: url("../images/scott.jpg");
}
.tim-d {
  background-image: url("../images/tim-d.jpg");
}
.tim-h {
  background-image: url("../images/tim-h.jpg");
}
.tj {
  background-image: url("../images/tj.jpg");
}
.youWin {
  background-color: orange;
  border: 2px solid white;
  color: white;
  width: 25%;
  height: 25%;
  position: absolute;
  left: 30%;
  top: 30%;
  font-size: 6vmin;
  border-radius: 25px;
  text-align: center;
  padding-top: 10px;
}
.youWin > button {
  background-color: #008CBA;
  font-size: 16px;
  color: white;
  padding: 5px;
}
/*must stay at bottom of CSS document to ensure function*/
.hidden{
  display: none;
}
